.card {
  width: 50px;
  z-index: 100;
  display: inline;
  position: absolute;

  &.first {
    left: 0;
    transform: rotate(-10deg);
  }

  &.second {
    left: 25px;
    z-index: 101;
    transform: rotate(10deg);
  }
}

.hand-container {
  position: relative;

  &.me {
    .card {
      width: 80px;
    }
  }
}
