.community-cards {
  width: 380px;
  height: 170px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
  margin: auto;
  border-radius: 50px;
  display: flex;
  align-items: center;

  .card {
    width: 67px;
    margin: 0 5px;

    img {
      width: 100%;
    }
  }
}

.pot {
  width: 170px;
  height: 70px;
  background-color: yellow;
  position: absolute;
  top: -270px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
